#complaints{
    gap: 0px;
    padding: 0px;
}

.co-item.item {
    border-radius: 0px;
    box-shadow: 0 0 0 0;
    border: 0px;
    border-bottom: 1px solid gray;
}
.co-item.item:hover{
    transform: none;
}

.co-item h4{
    color: #3161ff;
    font-size: 20px;
}

.co-item-desc{
    color: #757575;
    font-size: 14px;
}

.co-item-contact{
    display: flex;
    justify-content: space-between;
}

.co-item-contact div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.co-item-contact-name{
    color: #285eff;
    display: flex;
    gap: 4px;
}

.co-item-contact-pno{
    display: flex;
    gap: 4px;
}

.co-item-contact-title{
    color: #245eff;
}

.co-item-contact-title-value{
    color: #5b5b5b;
    font-size: 14px;
}

@media (max-width: 600px) {
    .co-item-contact div{
        display: block;
        gap: 6px;
    }
}