.loader-div{
    display: none;
}

.opt-bar a{
    width: 120px;
}

.lf-item h4{
    color: #3161ff;
    font-size: 20px;
}

.lf-item-desc{
    color: #757575;
    font-size: 14px;
}

.lf-item-contact{
    display: flex;
    justify-content: space-between;
}

.lf-item-contact div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lf-item-contact-name{
    color: #285eff;
    display: flex;
    gap: 4px;
}

.lf-item-contact-pno{
    display: flex;
    gap: 4px;
}

.lf-item-contact-title{
    color: #245eff;
}

.lf-item-contact-title-value{
    color: #5b5b5b;
    font-size: 14px;
}

@media (max-width: 600px) {
    .lf-item-contact div{
        display: block;
        gap: 6px;
    }
}